&uart1 {
     status = "okay";
     current-speed = <9600>;
};

&uart0 {
     current-speed = <115200>;
};

/ {
     aliases {
          ir = &ir_send;
     };

     leds {
          ir_send: ir_send {
               status = "okay";
               gpios = <&gpio0 27 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
               label = "IR Transmit Pin";
          };
     };
};
