&uart1 {
     status = "okay";
     current-speed = <9600>;
};

&uart0 {
     current-speed = <115200>;
};

/ {
     aliases {
          ir = &ir_send;
     };

     leds {
          ir_send: ir_send {
               status = "okay";
               gpios = <&gpio0 27 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
               label = "IR Transmit Pin";
          };
     };
};

&spi1 {
     status = "okay";
     cs-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
     pinctrl-0 = <&spi2_default>;
     pinctrl-1 = <&spi2_sleep>;
     pinctrl-names = "default", "sleep";
     camera: camera@0 {
             compatible = "vnd,spi-device";
             reg = <0>;
             spi-max-frequency = <1600000>;
             label = "camera";
     };
};