/ {
    model = "Nordic nRF52840 DK NRF52840";
	compatible = "nordic,nrf52840-dk-nrf52840";

    ir_send: ir_trans {
        compatible = "nordic,nrf52840-dk-nrf52840";
        status = "okay";
        gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
        label = "IR Transmit Pin";
    };
};
